* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

/* background img */
#background {
    display: flex;
    position: absolute;
    right: 120px;
}
#right-page {
    position: relative;
    height: 100vh;
    padding: 50px 50px 45px 0px;
}
#time-ribbon {
    position: absolute;
    top: 60px;
    right: 170px;
    z-index: 1;
}
.time {
    position: absolute;
    color: white !important;
    top: 164px;
    right: 187px;
    z-index: 2;
}
#left-page {
    position: relative;
    height: 100vh;
    padding: 50px 0px 45px 50px;
}
.default-recipe-image-div {
    max-width: 710px;
    max-height: 821px;
    overflow: hidden;
    position: absolute;
    right: 760px;
    top: 61px;
    display: block;
}

/* Add Recipe Button Styling */
#addRecipeBtn {
    font-family: 'Josefin Slab', serif !important;
    position: absolute;
    top: 25px;
    right:145px;
    border: none !important;
    color: none !important;
    background-color: none !important;
}
button img {
    width: 130px;
    height: 130px;
}
/* Add Your Recipe Form Styling */
#collapse-form {
    width: 500px;
    position: absolute;
    right: 290px;
    top: 200px;
    z-index: 3;
    border: none !important;
}
#ins-row {
    margin-top: 15px;
    margin-bottom: 15px;
}
#ing-row {
    margin-top: 15px;
}
#dynamic-list {
    margin: 15px 0px 0px 20px;
}
#dynamic-list-2 {
    margin: 15px 0px 0px 20px;
}
/* .form-check-label {
    width: 50px;
    height: 50px;
    overflow-y: clip;
    overflow-x: clip;
    margin: 15px ;
}
.radio-image {
    object-fit: cover;
} */
.errorMsg {
    font-size: 0.83rem;
    font-family: 'Varela Round', sans-serif;
}

/* navbar styling */
/* logo */
#logo {
    width: 100%;
}
/* title */
#title {
    background-color: lightgrey !important;
    padding: 18px 0px 11px 0px !important;
}
h1 {
    font-family: 'Josefin Slab', serif !important;
    font-weight: 600 !important;
    font-size: 1.5rem !important;
    
}
/* navbar */
#navbar {
    background-color: rgb(223, 223, 223);
    width: 130px;
    display: inline-block;
    margin-top: 0px !important;
    position: fixed;
    z-index: 5;
}
#primary-tabs {
    margin-top: 10px;
    overflow-y: auto;
    z-index: 5;
}
#blank {
    height: 260px;
}
#secondary-nav {
    position: fixed;
    left: 130px;
    height: 100vh;
    bottom: 0;
    z-index: 4;
}
#secondary-tabs{
    padding-top: 10px;
    background-color: rgb(223, 223, 223);
    height: calc(100% - 260px);
    overflow-y: auto;
}
.recipe-name {
    width: 250px;
}
/* navbar scrolling */
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    width: 10px;
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* class styling */
.text-centered-div {
    display: flex;
    justify-content: center;
}

.form-control {
    border: solid grey 1px !important;
}

h2 {
    font-family: 'Josefin Slab', serif !important;
    font-weight: 700 !important;
    font-size: 1.7rem !important;
}

h3 {
    font-family: 'Josefin Slab', serif !important;
    font-weight: 400;
    font-size: 1.5rem !important; 
}

h4 {
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem !important;
}

.selected-ribbon {
    color:#fff!important;
    background-image: url(../images/selected-ribbon.png) !important;
}

/* card styling */
.recipe-set {
    display: block;
}
.recipe-card {
    width: 500px;
    position: absolute;
    right: 290px;
    top: 230px;
}
.recipe-title {
    width: 500px;
}
.recipe-image-div {
    max-width: 692px;
    max-height: 821px;
    overflow: hidden;
    position: absolute;
    right: 898px;
    top: 61px;
    display: block;
}
.recipe-image {
    height: 100vh; 
    width: 100%;
}
.delete-recipe {
    color: white;
    background-color: #C71717;
    border: none !important;
    margin-top: 20px;
    padding: 10px;
    position: absolute;
    top: 550px;
}
.time {
    position: absolute;
    top: 165px;
    right: 307px;
    z-index: 1;
}